*{
    margin: 0;
}

/* Navbar */

.navbar a{
    list-style: none;
    text-decoration: none;
    font-family: "Dancing Script", serif;
    font-size: 30px; 
    padding-top: 30px;
    color: white;
}

.navbar :hover a{
    font-size: 40px;
    color:rgb(171, 162, 162)
}

.navbar{
    display: flex;
    justify-content: space-between;
    height: 100px;
    background-color: burlywood;
}

/*Main de la page d'acceuil */

.container{
    width: 1200px;
    /*background-color: rgb(236, 235, 235);*/
    margin: 30px auto ;
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    height: 100%; /* Ajuste la hauteur à 100% de la vue */
    text-align: center; /* Centre le texte */
    
}

.container h2{
    font-family: "Dancing Script", serif;
    font-size: 10rem;
    display: flex;
    align-items: center;
    color: gold;
    
}

.body{
    background: url('../assets/img_livreor.jpg');
    background-size: cover; /* L'image couvre toute la div */  
}

.main{
    width: 1200px;
    background-color: rgb(222, 184, 135, 0.354);
    margin: 30px auto ;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    text-align: center; /* Centre le texte */
}

.comment{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center ;
    gap:5rem;
    padding: 30px ;
    border: 2px solid black;
    align-items: center;
    margin-bottom: 10px ;
}

h2{
    font-size: 100px;
}

.txt{
    font-family: "Dancing Script", serif;
    font-size: 30px;
}

.date{
    font-size: 20px;
}

.research{
    display: flex;
    flex-direction: row;
    width: 1200px;
    background-color: rgb(236, 235, 235);
    margin: 30px auto;
    padding: 10px 10px 10px 10px;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    text-align: center; /* Centre le texte */
    background-color: rgb(222, 184, 135, 0.354);
    font-family: "Dancing Script", serif;
    font-size: 30px;
}

/* .research label{
    line-height: 43px;
} */

.div_commentaire{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1200px;
    background-color: rgb(222, 184, 135, 0.354);
    margin: 30px auto ;
    padding: 10px 10px 10px 10px;
    font-family: "Dancing Script", serif;
    font-size: 30px;
}

.container_inscription{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;
    width: 100vw;
    background-color: rgba(222, 184, 135, 0.354);
}

.container_conn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;
    width: 100vw;
    background-color: rgba(222, 184, 135, 0.354);
}

h1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: "Dancing Script", serif;
    font-size: 30px;
}

input{
    border: 2px solid black;
    height: 5vh;
    width: 10vw;
    border-radius: 5px;
    font-size: 15px;
}

button{
    border: 2px solid black;
    height: 6vh;
    width: 10vw;
    border-radius: 5px;
    font-size: 10px;
}

button[type="submit"]{
    background-color: white; 
    color: black; 
    border: 2px solid black; 
    border-radius: 5px;
    font-size: 15px; 
    margin-bottom: 5px;
    cursor: pointer; 
}

input[type="submit"]{
    background-color: white; 
    color: black; 
    border: 2px solid black; 
    border-radius: 5px;
    font-size: 15px; 
    cursor: pointer; 
}

